<h1>Friends List</h1>
<table class="table table-warning table-striped table-bordered table-hover">
  <thead>
    <tr class="table-success">

      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Twitter</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  
    <% @friends.each do |friend| %>
      <tr>
        <td class="table-info"><%= friend.first_name %></td>
        <td class="table-info"><%= friend.last_name %></td>
        <td class="table-info"><%= friend.email %></td>
        <td class="table-info"><%= friend.phone %></td>
        <td class="table-info"><%= friend.twitter %></td>
        <td class="table-info"><%= link_to 'Show', friend %></td>
        <td class="table-info"><%= link_to 'Edit', edit_friend_path(friend) %></td>
        <td class="table-info"><%= button_to 'Remove Friend', friend, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'New Friend', new_friend_path, class:"btn btn-outline-info"%>
