

<% if user_signed_in? %>
<h1>Friends List</h1>

<table class="table table-info table-striped table-bordered table-hover">
  <thead>
    <tr class="table-info">

      <th>name</th>
      
      <th>Email</th>
      <th>Phone</th>
      <th>Twitter</th>
      
      
    </tr>
  </thead>

  
    <% @friends.each do |friend| %>
    <% if friend.user == current_user%>
      <tr>
        <td class="table-info">
          <%= link_to friend.first_name + ' ' + friend.last_name, friend %>
          </td>
        <td class="table-info"><%= friend.email %></td>
        <td class="table-info"><%= friend.phone %></td>
        <td class="table-info"><%= friend.twitter%></td>
       
       
      </tr>
      <% end %>
    <% end %>
  </tbody>

</table>


<br>


<%= link_to 'New Friend', new_friend_path, class:"btn btn-outline-info"%>
<% else %>
<h1>WELCOME TO THE HOME PAGE. YOUR FRIENDS LIST IS READY, PLEASE LOG IN.</h1>


<% end %>

